pkgbase = strisemarx-intel
	pkgdesc = strisemarx's intel metapackage
	pkgver = 5
	pkgrel = 1
	url = https://strisemarx.com
	arch = any
	license = GPL3
	depends = intel-gpu-tools
	depends = intel-ucode
	depends = libvdpau-va-gl
	depends = mesa
	depends = intel-media-sdk
	depends = libva-intel-driver
	depends = mesa-vdpau
	depends = vulkan-intel

pkgname = strisemarx-intel
