[Unit]
Description=Bridge org.freedesktop.ScreenSaver inhibits to systemd-inhibit
Documentation=https://codeberg.org/Scrumplex/inhibridge
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=DBUS_SESSION_BUS_ADDRESS

[Service]
Type=simple
ExecStart=inhibridge
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=sway-session.target
