[Unit]
Description=Expose the libsecret D-Bus API with pass as backend
Documentation=https://github.com/grimsteel/pass-secret-service

[Service]
Type=dbus
BusName=org.freedesktop.secrets
ExecStart=%h/.nix-profile/bin/pass-secret-service

[Install]
WantedBy=default.target
Alias=dbus-org.freedesktop.secrets.service
