[Unit]
Description=sway compositor session
Documentation=man:systemd.special(7)
BindsTo=graphical-session.target
Wants=graphical-session-pre.target mako.service poweralertd.service display-watcher.service
After=graphical-session-pre.target
StopWhenUnneeded=yes
