[Unit]
Description=Waybar status bar for sway
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=%h/.nix-profile/bin/waybar
ExecReload=/bin/kill -SIGUSR2 $MAINPID
Restart=on-failure
RestartSec=2s
KillMode=mixed

[Install]
WantedBy=sway-session.target
