[Unit]
Description=WhatSie (flatpak)
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/flatpak run com.ktechpit.whatsie --minimized
ExecStop=/usr/bin/flatpak kill com.ktechpit.whatsie
Restart=on-failure
RestartSec=5s
TimeoutStopSec=10s

[Install]
WantedBy=sway-session.target
