pkgbase = strisemarx-x-de
	pkgdesc = strisemarx's DE metapackage
	pkgver = 13
	pkgrel = 1
	url = https://strisemarx.com
	arch = any
	license = GPL3
	depends = alacritty
	depends = bspwm-git
	depends = dunst
	depends = feh
	depends = i3lock-fancy-rapid-git
	depends = libnotify
	depends = perl-file-mimeinfo
	depends = polybar
	depends = qt5ct
	depends = rofi
	depends = rofimoji
	depends = scrot
	depends = sxhkd-git
	depends = sxiv
	depends = xdg-user-dirs
	depends = xdotool
	depends = xorg-xdpyinfo
	depends = xorg-xev
	depends = xorg-xwininfo
	depends = zbar

pkgname = strisemarx-x-de
