if has nix_direnv_version; then
  use flake ./nix
else
  watch_file nix/flake.nix
  watch_file nix/flake.lock
  eval "$(nix --extra-experimental-features 'nix-command flakes' print-dev-env ./nix)"
fi
