{{- $machineRole := default "host" (index . "machineRole") -}}
{{- if ne $machineRole "host" -}}
# Rootless podman storage configuration: VM ext4.

[storage]
driver = "overlay"

[storage.options.overlay]
{{- else -}}
# Rootless podman storage configuration: host btrfs.
# Changing storage drivers requires `podman system reset --force`.

[storage]
driver = "btrfs"
{{- end }}
