pkgbase = strisemarx-x-extra
	pkgdesc = strisemarx's Xorg apps metapackage
	pkgver = 23
	pkgrel = 1
	url = https://strisemarx.com
	arch = any
	license = GPL3
	depends = arkenfox-user.js
	depends = chromium
	depends = librewolf-bin
	depends = libfido2
	depends = libreoffice-still
	depends = okular
	depends = torbrowser-launcher
	depends = zathura
	depends = zathura-pdf-mupdf

pkgname = strisemarx-x-extra
