pkgbase = sommerfeld-python
	pkgver = 1
	pkgrel = 1
	arch = any
	license = MIT
	depends = pyright
	depends = python-black
	depends = python-debugpy
	depends = python-pipenv
	depends = python-poetry
	depends = ruff-lsp

pkgname = sommerfeld-python
