{{ if eq (default "host" (index . "machineRole")) "canonical" }}
Include config.local
Host *
  IdentityFile ~/.ssh/work.pub
  IdentitiesOnly yes
  HashKnownHosts yes
  ForwardAgent no
  ServerAliveInterval 120
{{ else }}
{{ if eq (default "host" (index . "machineRole")) "host" }}
Host ubuntu-packaging
  HostName ubuntu-packaging
  User ubuntu
  IdentityFile ~/.ssh/work.pub
  IdentitiesOnly yes
  ProxyCommand lxc exec ubuntu-packaging -T -- /usr/bin/nc 127.0.0.1 22
  ForwardAgent no
  ControlMaster no
  ControlPath none

Host *
{{ end }}
# Ensure KnownHosts are unreadable if leaked
HashKnownHosts yes

Compression no
ControlMaster auto
ControlPersist 10
AddressFamily inet
ServerAliveInterval 120
IdentitiesOnly yes

Host git.sommerfeld.dev
  Hostname mandibles.wg

Host *
Include work.config

Match host * exec "gpg-connect-agent UPDATESTARTUPTTY /bye"

Match host *.wg,*.pulpo
  IdentityFile ~/.ssh/nym.pub
{{ end }}
