pkgbase = sommerfeld-cpp
	pkgver = 1
	pkgrel = 1
	arch = any
	license = MIT
	depends = ccache
	depends = clang
	depends = cmake
	depends = cmake-format
	depends = doxygen
	depends = inferno
	depends = gdb
	depends = lld
	depends = lldb
	depends = mold
	depends = ninja
	depends = perf
	depends = valgrind

pkgname = sommerfeld-cpp
