pkgbase = strisemarx-base
	pkgdesc = strisemarx's base metapackage
	pkgver = 30
	pkgrel = 1
	url = https://strisemarx.com
	arch = any
	license = GPL3
	depends = acpid
	depends = base
	depends = base-devel
	depends = bash-completion
	depends = bat
	depends = choose
	depends = cpupower
	depends = curlie
	depends = dashbinsh
	depends = doas-sudo-shim
	depends = dog
	depends = duf
	depends = fd
	depends = fzf
	depends = gdu
	depends = git
	depends = htop
	depends = irqbalance
	depends = iwd
	depends = jq
	depends = lf
	depends = libusb-compat
	depends = linux-firmware
	depends = lsd
	depends = lshw
	depends = man-db
	depends = man-pages
	depends = neofetch
	depends = neovim
	depends = nfs-utils
	depends = nmap
	depends = ocl-icd
	depends = openssh
	depends = overdue
	depends = pacman-cleanup-hook
	depends = pacman-contrib
	depends = paru
	depends = pass
	depends = pbzip2
	depends = pigz
	depends = pkgstats
	depends = procs
	depends = qrencode
	depends = reflector
	depends = ripgrep
	depends = rsync
	depends = sd
	depends = stow
	depends = systemd-resolvconf
	depends = thermald
	depends = tldr
	depends = tmux
	depends = unzip
	depends = wget
	depends = wireguard-tools
	depends = zsh
	depends = zsh-autosuggestions
	depends = zsh-completions
	depends = zsh-history-substring-search
	depends = zsh-syntax-highlighting

pkgname = strisemarx-base
