pkgbase = strisemarx-fonts
	pkgdesc = strisemarx's fonts metapackage
	pkgver = 3
	pkgrel = 1
	url = https://strisemarx.com
	arch = any
	license = GPL3
	depends = noto-fonts-emoji
	depends = otf-font-awesome
	depends = otf-latinmodern-math
	depends = ttf-dejavu
	depends = ttf-fira-code
	depends = ttf-font-awesome
	depends = ttf-noto-nerd

pkgname = strisemarx-fonts
