pkgbase = strisemarx-x-base
	pkgdesc = strisemarx's Xorg base metapackage
	pkgver = 5
	pkgrel = 1
	url = https://strisemarx.com
	arch = any
	license = GPL3
	depends = sx
	depends = unclutter-xfixes-git
	depends = wmname
	depends = xclip
	depends = xorg-xinput
	depends = xorg-xmodmap
	depends = xorg-xrandr
	depends = xorg-xrdb
	depends = xorg-xsetroot

pkgname = strisemarx-x-base
