pkgbase = strisemarx-mail
	pkgdesc = strisemarx's mail metapackage
	pkgver = 6
	pkgrel = 1
	url = https://strisemarx.com
	arch = any
	license = GPL3
	depends = aerc
	depends = khal
	depends = khard
	depends = protonmail-bridge-nogui
	depends = vdirsyncer

pkgname = strisemarx-mail
