pkgbase = strisemarx-sound
	pkgdesc = strisemarx's sound metapackage
	pkgver = 9
	pkgrel = 1
	url = https://strisemarx.com
	arch = any
	license = GPL3
	depends = alsa-utils
	depends = playerctl
	depends = pipewire
	depends = pipewire-alsa
	depends = pipewire-pulse
	depends = pipewire-jack
	depends = pulsemixer
	optdepends = noisetorch

pkgname = strisemarx-sound
