[Unit]
Description=Balance btrfs filesystem on %f (data/metadata <50%% block-group fill)
Documentation=man:btrfs-balance(8)
RequiresMountsFor=%f
ConditionPathIsMountPoint=%f
ConditionPathExists=/usr/bin/btrfs

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
KillSignal=SIGINT
ExecStart=/usr/bin/btrfs balance start -dusage=50 -musage=50 %f
