pkgbase = sommerfeld-work
	pkgver = 3
	pkgrel = 1
	arch = any
	license = MIT
	depends = bear
	depends = compiledb
	depends = cuda
	depends = cvise
	depends = devcontainer-cli
	depends = dockerfile-language-server-bin
	depends = fortls
	depends = fuse-overlayfs
	depends = intel-oneapi-dpcpp-cpp
	depends = hadolint-bin
	depends = llvm
	depends = gcc-fortran
	depends = git-lfs
	depends = npm
	depends = openmp
	depends = podman-docker
	depends = typescript-language-server
	depends = xdot

pkgname = sommerfeld-work
